In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', None)    #显示所有列
pd.set_option('display.max_rows', 30)    #显示所有行
pd.set_option('max_colwidth',100)    #设置value的显示长度为100，默认为50

import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv(r'D:\MyData\chenpf8\TianChi_Data\01_Introduction to Financial risk control - Loan default prediction\train.csv',
                   encoding='UTF-8', index_col=0,header=0)
data.head()

,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,annualIncome,verificationStatus,issueDate,isDefault,purpose,postCode,regionCode,dti,delinquency_2years,ficoRangeLow,ficoRangeHigh,openAcc,pubRec,pubRecBankruptcies,revolBal,revolUtil,totalAcc,initialListStatus,applicationType,earliesCreditLine,title,policyCode,n0,n1,n2,n2.1,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,35000.0,5,19.52,917.97,E,E2,320.0,2 years,2,110000.0,2,2014-07-01,1,1,137.0,32,17.05,0.0,730.0,734.0,7.0,0.0,0.0,24178.0,48.9,27.0,0,0,Aug-2001,1.0,1.0,0.0,2.0,2.0,2.0,4.0,9.0,8.0,4.0,12.0,2.0,7.0,0.0,0.0,0.0,2.0
1,18000.0,5,18.49,461.90,D,D2,219843.0,5 years,0,46000.0,2,2012-08-01,0,0,156.0,18,27.83,0.0,700.0,704.0,13.0,0.0,0.0,15096.0,38.9,18.0,1,0,May-2002,1723.0,1.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
2,12000.0,5,16.99,298.17,D,D3,31698.0,8 years,0,74000.0,2,2015-10-01,0,0,337.0,14,22.77,0.0,675.0,679.0,11.0,0.0,0.0,4606.0,51.8,27.0,0,0,May-2006,0.0,1.0,0.0,0.0,3.0,3.0,0.0,0.0,21.0,4.0,5.0,3.0,11.0,0.0,0.0,0.0,4.0
3,11000.0,3,7.26,340.96,A,A4,46854.0,10+ years,1,118000.0,1,2015-08-01,0,4,148.0,11,17.21,0.0,685.0,689.0,9.0,0.0,0.0,9948.0,52.6,28.0,1,0,May-1999,4.0,1.0,6.0,4.0,6.0,6.0,4.0,16.0,4.0,7.0,21.0,6.0,9.0,0.0,0.0,0.0,1.0
4,3000.0,3,12.99,101.07,C,C2,54.0,NaN,1,29000.0,2,2016-03-01,0,10,301.0,21,32.16,0.0,690.0,694.0,12.0,0.0,0.0,2942.0,32.0,27.0,0,0,Aug-1977,11.0,1.0,1.0,2.0,7.0,7.0,2.0,4.0,9.0,10.0,15.0,7.0,12.0,0.0,0.0,0.0,4.0

In [ ]:
'''
Field	Description
id	为贷款清单分配的唯一信用证标识
loanAmnt	贷款金额
term	贷款期限（year）
interestRate	贷款利率
installment	分期付款金额
grade	贷款等级
subGrade	贷款等级之子级
employmentTitle	就业职称
employmentLength	就业年限（年）
homeOwnership	借款人在登记时提供的房屋所有权状况
annualIncome	年收入
verificationStatus	验证状态
issueDate	贷款发放的月份
purpose	借款人在贷款申请时的贷款用途类别
postCode	借款人在贷款申请中提供的邮政编码的前3位数字
regionCode	地区编码
dti	债务收入比
delinquency_2years	借款人过去2年信用档案中逾期30天以上的违约事件数
ficoRangeLow	借款人在贷款发放时的fico所属的下限范围
ficoRangeHigh	借款人在贷款发放时的fico所属的上限范围
openAcc	借款人信用档案中未结信用额度的数量
pubRec	贬损公共记录的数量
pubRecBankruptcies	公开记录清除的数量
revolBal	信贷周转余额合计
revolUtil	循环额度利用率，或借款人使用的相对于所有可用循环信贷的信贷金额
totalAcc	借款人信用档案中当前的信用额度总数
initialListStatus	贷款的初始列表状态
applicationType	表明贷款是个人申请还是与两个共同借款人的联合申请
earliesCreditLine	借款人最早报告的信用额度开立的月份
title	借款人提供的贷款名称
policyCode	公开可用的策略_代码=1新产品不公开可用的策略_代码=2
n系列匿名特征	匿名特征n0-n14，为一些贷款人行为计数特征的处理
'''

In [21]:
data.columns

Index(['loanAmnt', 'term', 'interestRate', 'installment', 'grade', 'subGrade',
       'employmentTitle', 'employmentLength', 'homeOwnership', 'annualIncome',
       'verificationStatus', 'issueDate', 'isDefault', 'purpose', 'postCode',
       'regionCode', 'dti', 'delinquency_2years', 'ficoRangeLow',
       'ficoRangeHigh', 'openAcc', 'pubRec', 'pubRecBankruptcies', 'revolBal',
       'revolUtil', 'totalAcc', 'initialListStatus', 'applicationType',
       'earliesCreditLine', 'title', 'policyCode', 'n0', 'n1', 'n2', 'n2.1',
       'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14'],
      dtype='object')

###  把要预测Y变量的放在最后一列

In [22]:
data = data[['loanAmnt', 'term', 'interestRate', 'installment', 'grade', 'subGrade',
       'employmentTitle', 'employmentLength', 'homeOwnership', 'annualIncome',
       'verificationStatus', 'issueDate', 'purpose', 'postCode',
       'regionCode', 'dti', 'delinquency_2years', 'ficoRangeLow',
       'ficoRangeHigh', 'openAcc', 'pubRec', 'pubRecBankruptcies', 'revolBal',
       'revolUtil', 'totalAcc', 'initialListStatus', 'applicationType',
       'earliesCreditLine', 'title', 'policyCode', 'n0', 'n1', 'n2', 'n2.1',
       'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14','isDefault']]
data.head(1)

,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,annualIncome,verificationStatus,issueDate,purpose,postCode,regionCode,dti,delinquency_2years,ficoRangeLow,ficoRangeHigh,openAcc,pubRec,pubRecBankruptcies,revolBal,revolUtil,totalAcc,initialListStatus,applicationType,earliesCreditLine,title,policyCode,n0,n1,n2,n2.1,n4,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14,isDefault
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,35000.0,5,19.52,917.97,E,E2,320.0,2 years,2,110000.0,2,2014-07-01,1,137.0,32,17.05,0.0,730.0,734.0,7.0,0.0,0.0,24178.0,48.9,27.0,0,0,Aug-2001,1.0,1.0,0.0,2.0,2.0,2.0,4.0,9.0,8.0,4.0,12.0,2.0,7.0,0.0,0.0,0.0,2.0,1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800000 entries, 0 to 799999
Data columns (total 46 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   loanAmnt            800000 non-null  float64
 1   term                800000 non-null  int64
 2   interestRate        800000 non-null  float64
 3   installment         800000 non-null  float64
 4   grade               800000 non-null  object
 5   subGrade            800000 non-null  object
 6   employmentTitle     799999 non-null  float64
 7   employmentLength    753201 non-null  object
 8   homeOwnership       800000 non-null  int64
 9   annualIncome        800000 non-null  float64
 10  verificationStatus  800000 non-null  int64
 11  issueDate           800000 non-null  object
 12  isDefault           800000 non-null  int64
 13  purpose             800000 non-null  int64
 14  postCode            799999 non-null  float64
 15  regionCode          800000 non-null  int64
 16  dti                 799761 non-null  float64
 17  delinquency_2years  800000 non-null  float64
 18  ficoRangeLow        800000 non-null  float64
 19  ficoRangeHigh       800000 non-null  float64
 20  openAcc             800000 non-null  float64
 21  pubRec              800000 non-null  float64
 22  pubRecBankruptcies  799595 non-null  float64
 23  revolBal            800000 non-null  float64
 24  revolUtil           799469 non-null  float64
 25  totalAcc            800000 non-null  float64
 26  initialListStatus   800000 non-null  int64
 27  applicationType     800000 non-null  int64
 28  earliesCreditLine   800000 non-null  object
 29  title               799999 non-null  float64
 30  policyCode          800000 non-null  float64
 31  n0                  759730 non-null  float64
 32  n1                  759730 non-null  float64
 33  n2                  759730 non-null  float64
 34  n2.1                759730 non-null  float64
 35  n4                  766761 non-null  float64
 36  n5                  759730 non-null  float64
 37  n6                  759730 non-null  float64
 38  n7                  759730 non-null  float64
 39  n8                  759729 non-null  float64
 40  n9                  759730 non-null  float64
 41  n10                 766761 non-null  float64
 42  n11                 730248 non-null  float64
 43  n12                 759730 non-null  float64
 44  n13                 759730 non-null  float64
 45  n14                 759730 non-null  float64
dtypes: float64(33), int64(8), object(5)
memory usage: 286.9+ MB

###  info比下面这个方法简便多了

In [3]:
for item in data.columns:
    desc = data[item].isnull().sum()
    print( item + ':' +  str(desc))

loanAmnt:0
term:0
interestRate:0
installment:0
grade:0
subGrade:0
employmentTitle:1
employmentLength:46799
homeOwnership:0
annualIncome:0
verificationStatus:0
issueDate:0
isDefault:0
purpose:0
postCode:1
regionCode:0
dti:239
delinquency_2years:0
ficoRangeLow:0
ficoRangeHigh:0
openAcc:0
pubRec:0
pubRecBankruptcies:405
revolBal:0
revolUtil:531
totalAcc:0
initialListStatus:0
applicationType:0
earliesCreditLine:0
title:1
policyCode:0
n0:40270
n1:40270
n2:40270
n2.1:40270
n4:33239
n5:40270
n6:40270
n7:40270
n8:40271
n9:40270
n10:33239
n11:69752
n12:40270
n13:40270
n14:40270

In [19]:
'''
data.columns[data.isnull().sum()> 0]
通过这一步  得到有缺失值的数据列
'''

'\ndata.columns[data.isnull().sum()> 0]\n通过这一步  得到有缺失值的数据列\n'

In [17]:
data[data.columns[data.isnull().sum()> 0]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800000 entries, 0 to 799999
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   employmentTitle     799999 non-null  float64
 1   employmentLength    753201 non-null  object
 2   postCode            799999 non-null  float64
 3   dti                 799761 non-null  float64
 4   pubRecBankruptcies  799595 non-null  float64
 5   revolUtil           799469 non-null  float64
 6   title               799999 non-null  float64
 7   n0                  759730 non-null  float64
 8   n1                  759730 non-null  float64
 9   n2                  759730 non-null  float64
 10  n2.1                759730 non-null  float64
 11  n4                  766761 non-null  float64
 12  n5                  759730 non-null  float64
 13  n6                  759730 non-null  float64
 14  n7                  759730 non-null  float64
 15  n8                  759729 non-null  float64
 16  n9                  759730 non-null  float64
 17  n10                 766761 non-null  float64
 18  n11                 730248 non-null  float64
 19  n12                 759730 non-null  float64
 20  n13                 759730 non-null  float64
 21  n14                 759730 non-null  float64
dtypes: float64(21), object(1)
memory usage: 140.4+ MB

In [24]:
data['isDefault'].describe()

count    800000.000000
mean          0.199513
std           0.399634
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: isDefault, dtype: float64